<databaseChangeLog
    xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:ext="http://www.liquibase.org/xml/ns/dbchangelog-ext"
    xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.1.xsd
    http://www.liquibase.org/xml/ns/dbchangelog-ext http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-ext.xsd">

    <property name="dbms" value="mssql" dbms="mssql"/>
    <property name="delimiter" value="\nGO" dbms="mssql"/>

    <property name="dbms" value="postgresql" dbms="postgresql"/>
    <property name="delimiter" value=";" dbms="postgresql"/>

    <changeSet author="jira" id="1">
      <sqlFile dbms="${dbms}"
               encoding="utf8"
               path="${db.script.name.loc}"
               endDelimiter="${delimiter}"
               relativeToChangelogFile="true" />
    </changeSet>
</databaseChangeLog>